*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 1050px;
    margin: 0 auto;
    height: 70px;
}


/*HEADER*/

.header{
    width: 100%;
    height: 70px;
    background-color: rgb(32, 32, 32);
    position: fixed;
}

.horaires{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a, a:link{
    text-decoration: none;
    color: white;
}

.a, a:hover{opacity: .5;}





/*MAIN*/

.bienvenue{
    background-image: url('../images/resto.jpg');
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.titre1{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 56px;
}

.okay{
    font-size: 32px;
}

.texte1{
    width: 436px;
    line-height: 25px;
    text-shadow: 0 0 10px black;

}


/*GALLERIE*/

.galerie{
    height: 50vh;
    display: flex;
}

.galerie img{object-fit: cover;}
.photo1{width: 50%;}
.photo2{width: 20%;}
.photo3{width: 30%;}


/*bas*/

.bas{
    height: 40vh;
    background-image: url(../images/open.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.container{
    font-size: 56px;
    color: white;
    padding-left: 450px;
    padding-top: 100px;
}

.horaires2{
    line-height: 100px;
}

.jourethoraire{
    display: flex;
    flex-wrap: wrap;
}

.jour{
    color: white;
    padding-right: 60px;
    font-size: 15px;
    line-height: 20px;
}

.heures{
    color: white;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

@media screen and (max-width: 775px){
    .wrapper{
        max-width: 775px;
    }

    .bienvenue{
        height: 75vh;
    }

    .photo1{
        width: 100%;
    }
    .photo2, .photo3{
        display: none;
    }

    .bas{
        background-image: url(../images/motif.jpg);
        height: 70vh;
    }

    .container{
        padding-left: 100px;
        padding-top: 60px;
    }

}